body{
    background-color: lightgreen;
}

#top{
    display: flex;
}

#char-inf{
    width: 310px;
    background-color: #ccc;
    border: 1px solid #000;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: 16px;
}

.char-inf-list{
    margin-right: 16px;
}

#list-1{
    list-style-type: none;
    padding-left: 16px;
}

#talk{
    min-width: none;
    max-width: 600px;
    position: relative;
    padding: 4px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#question{
    padding: 2px;
    border-radius: 8px;
}

#submit{
    padding: 2px;
    border-radius: 8px;
}

#clogged{
    margin: 0px;
}

#ans{
    margin-top: 8px;
}

#name{
    text-decoration-color: orange;
    text-decoration-style: solid;
    text-decoration: underline;
}