body{
    background-color: rgb(180, 228, 240);
    text-align: center;
    justify-content: center;
}

h1{
    font-family: serif;
}

h2{
    font-family: serif;
}

p{
    margin: 0px 0px 0px 0px;
    color: rgb(0, 0, 0);
    font-family: serif;
}

#explain{
    background-color: rgb(206, 206, 206);
    text-align: left;
    border-style: solid;
    border-color: white;
    margin: 0px 5% 0px 5%;
    border-width: 2px 2px 2px 2px;
    border-radius: 4px;
    padding: 16px 16px 16px 16px;
    width: auto;
    height: auto;
}

#my-inf{
    background-color: rgb(206, 206, 206);
    text-align: left;
    border-style: solid;
    border-color: white;
    margin: 0px 5% 0px 5%;
    border-width: 2px 2px 2px 2px;
    border-radius: 4px;
    padding: 16px 16px 16px 16px;
    width: auto;
    height: auto;
}