body{
    max-width: 1000px;
    overflow: auto;
    background-color: lightgreen;
}

h1{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 32px;
    text-shadow: 2px 2px 0px white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 16px;
}

div{
    overflow: hidden;
}

h2{
    margin-bottom: 0px;
}

.space{
    height: 64px;
}

hr{
    margin: 0px;
    max-width: 50%;
}

#top{
    margin-top: 32px;
    height: 416px;
    border: 1px;
    margin-bottom: 16px;
    display: flex;
}

#char-inf{
    width: 310px;
    background-color: #ccc;
    border: 1px solid #000;
    margin-top: 16px;
    margin-bottom: 64px;
    margin-right: 52px;
    border-radius: 16px;
    box-shadow: 3px 3px 2px #222;
}

#main-char{
    margin-bottom: 32px;
}

.char-inf-list{
    margin-right: 16px;
}

#list-1{
    list-style-type: none;
    padding-left: 16px;
    padding-right: 16px;
}

#talk{
    min-width: none;
    max-width: 650px;
    position: relative;
    padding: 4px;
    background-color: rgb(95, 211, 114);
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 3px 3px 2px #004417;
}

#question{
    padding: 2px;
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 134, 60);
}

optgroup{
    background-color: rgb(0, 185, 83);
}

#submit{
    padding: 2px;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 2px 0px rgb(0, 75, 19);
    color: white;
    background-color: rgb(0, 134, 60);
}
#submit:hover{
    transition-duration: 0.5s;
    background-color: rgb(0, 255, 115);
    box-shadow: 0px 2px 0px rgb(0, 148, 37);
    color: black;
}
#submit:active{
    transition-duration: 0.1s;
    transform: translateY(2px);
    box-shadow: 0px 0px 0px;
}

#clogged{
    margin: 0px;
}

#ans{
    margin-top: 8px;
}

#name{
    text-decoration-color: orange;
    text-decoration-style: solid;
    text-decoration: underline;
}

#main-text{
    margin-top: 16pxpx;
    margin-bottom: 32px;
}

.icon{
    padding: 16px;
    width: 64px;
    height: 64px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}