body{
    overflow: auto;
    background-color: lightgreen;
}

#top{
    display: flex;
}

#char-inf{
    width: 310px;
    background-color: #ccc;
    border: 1px solid #000;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: 16px;
    box-shadow: 3px 3px 2px #222;
}

.char-inf-list{
    margin-right: 16px;
}

#list-1{
    list-style-type: none;
    padding-left: 16px;
}

#talk{
    min-width: none;
    max-width: 600px;
    position: relative;
    padding: 4px;
    background-color: rgb(95, 211, 114);
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 3px 3px 2px #004417;
}

#question{
    padding: 2px;
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 134, 60);
}

optgroup{
    background-color: rgb(0, 185, 83);
}

#submit{
    padding: 2px;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 2px 0px rgb(0, 75, 19);
    color: white;
    background-color: rgb(0, 134, 60);
}
#submit:hover{
    transition-duration: 0.5s;
    background-color: rgb(0, 255, 115);
    box-shadow: 0px 2px 0px rgb(0, 148, 37);
    color: black;
}
#submit:active{
    transition-duration: 0.1s;
    transform: translateY(2px);
    box-shadow: 0px 0px 0px;
}

#clogged{
    margin: 0px;
}

#ans{
    margin-top: 8px;
}

#name{
    text-decoration-color: orange;
    text-decoration-style: solid;
    text-decoration: underline;
}