#commentIn{
    width: 320px;
    margin-right: 4px;
}

#cvs{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 141, 141);
    margin-bottom: 0px;
    margin-top: 4px;
}

a{
    font-family: serif;
    font-size: 32px;
    font-weight: 900;
    text-shadow: 2px 2px 0px rgb(255, 0, 0);
}